.cms-page-view.cms-creciendo-juntos-historia-real header[role="banner"] {
	min-height: 337px;
}


div.landing-creciendo-juntos{
	width:100%;
	text-align:center;
	/*margin-top:60px;*/
	margin-top:108px;
}
div.landing-creciendo-juntos h1{
	font-family: "Enriqueta",georgia,serif;
    font-size: 50px;
    font-weight: bold;
	margin-top:0;
	margin-bottom:0;
}
div.landing-creciendo-juntos p{
	color:#200d00;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size:14px;
	margin: 20px auto 50px auto;
	max-width:50%;
	
	
}
#youtube-image{
	margin:0;
}
#slider-wrapper{margin-top: 120px; padding-top: 48px; margin-bottom: -40px;}
@media (max-width: 1024px){
	div.landing-creciendo-juntos{margin-top:20px;}
	div.landing-creciendo-juntos h1{font-size: 40px; !important}
	div.landing-creciendo-juntos p{	max-width:80%; margin: 30px auto;}
	#slider-wrapper{margin-top: 60px;}
	#slider-wrapper h2{
		font-size:40px !important;
		padding-left:5px;
		padding-right:5px;
	}
	.play-button{ top: 30% !important}
}

div.landing-creciendo-juntos h2{
	 color:#bfb5ac;
	 font-family: "Open Sans",Helvetica,Arial,sans-serif;
	 font-size:30px;
	 font-weight: 200;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin-top:10px;

}
.play-button{
   cursor:pointer;
   position:absolute;
   top:40%;
   left:50%;
}
.play-button:hover{
	opacity: 0.5;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}




#youtube-img iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#slider-wrapper h2{
	color:#200d00;
	font-size:50px;
	margin-top:0;
	position:absolute;
	top: -30px;
	width: 100%;
    z-index: 51;
	font-family: "Enriqueta",georgia,serif;
    font-weight: bold;
}
#slider-wrapper h2 > span{
	display:block;
	color:#200d00;
	font-family: "Enriqueta",georgia,serif;
	font-size:14px;
	margin: 20px auto;
	font-weight:normal;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	line-height: 1.428571429;
}

#slider-wrapper{
	position:relative;
	text-align:center;
}
#slider-wrapper ul {
margin: 0px;
 padding-left: 0;
}

.bx-viewport, .bx-wrapper{
position:relative;
width:100%;
height:100% !important;
top:0;
left:0;
}

.bxslider, .bxslider li {
height: 100vh !important;
}

.bxslider li {
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}

li.slide1{
	background-image: url('images/la-mejor-naranja-video1.jpg');
	padding-bottom:50px;
	color:transparent;
}
li.slide2{
	background-image: url('images/la-mejor-naranja-video2.jpg');
	color:transparent;
	
}
li.slide3{
	background-image: url('images/la-mejor-naranja-video3.jpg');
	color:transparent;
	
}
li.slide4{
	background-image: url('images/la-mejor-naranja-video4.jpg');
	color:transparent;
	
}
li.slide5{
	background-image: url('images/la-mejor-naranja-video5.jpg');
	color:transparent;
	
}

		   
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 20px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	/*max-width: 100%;*/
}


/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 3px;
	width: 100%;
	z-index: 99;
}

#slider-wrapper .bx-pager.bx-default-pager a.active, #slider-wrapper .bx-pager.bx-default-pager a:hover {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
}
#slider-wrapper .bx-pager.bx-default-pager a{
    background: transparent;
	border: 3px solid white;
	border-radius: 9px;
	height: 14px;
	width: 14px;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	/*background: url("https://www.lamejornaranja.com/skin/frontend/default/lamejornaranjav2/css/images/bx_loader.gif") center center no-repeat #fff;*/
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	bottom: 40px !important;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: rgba(32, 13, 0, 0.4);
	text-indent: -9999px;
	display: block;
	width: 11px;
	height: 11px;
	margin: 0 3px;
	outline: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: rgba(255, 102, 26, 1);
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 0;
	background: url("images/controls.png") no-repeat 0 0;
	margin-left:20px;
}

.bx-wrapper .bx-next {
	right: 0;
	background: url("images/controls.png") no-repeat -45px 0;
	margin-right:20px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 -59px;
}

.bx-wrapper .bx-next:hover {
	background-position: -45px -59px;
}

.landing-creciendo-juntos .bx-controls-direction{display:block !important;}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -17px;
	outline: 0;
	width: 32px;
	height: 59px;
	text-indent: -9999px;
	z-index: 9999;
	text-decoration: none !important;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	/*background: url("https://www.lamejornaranja.com/skin/frontend/default/lamejornaranjav2/css/images/controls.png") -86px -11px no-repeat;*/
	margin: 0 3px;
}


	
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}
a.bx-prev:hover,
a.bx-prev:focus,
a.bx-next:hover,
a.bx-next:focus{
	border-bottom:none !important;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	/*background: url("https://www.lamejornaranja.com/skin/frontend/default/lamejornaranjav2/css/images/controls.png") -86px -44px no-repeat;*/
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

.slide {
	text-align: center;
	position: relative;
	height: 420px;
}
.slide-info{
	position: absolute;
	top: 23%;
	color: white;
	text-align: left;
	padding: 0 0 0 100px;

	float: left;
	width: 40%;
	font-family: 'Enriqueta', georgia, serif;
	font-size: 1.5em;
	line-height: 1;
}

.slide-info h2{
	font-family: 'Enriqueta', georgia, serif;
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 15px;
}

.slide-info p{
	font-size: 16px;
	margin-bottom: 20px;
}

/* RWD */
@media (min-width: 768px) and (max-width: 1024px){

  .slide-info {
	top: 10%;
	padding: 0 0 0 40px;
	width: 60%;
  }

}
