<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Oligume</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
        @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
    </style>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <!--  <a class="navbar-brand" href="#!">Oligume</a> -->
            <a class="navbar-brand" href="index.html">
                <img class="logo-grand" src="assets/oligume.png" alt="oligume" />
            </a>
            <!-- <i class="bi bi-facebook"></i> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#!">Nosotros</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Tienda</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#!">Todos los productos</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#!">Aceitunas</a></li>
                            <li><a class="dropdown-item" href="#!">Aceite de Oliva</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="social-icons">
                    <a class="social-icon" href="https://facebook.com/oligume" target="_blank"><i
                            class="bi bi-facebook"></i></a>
                    <a class="social-icon" href="https://www.instagram.com/oligume" target="_blank">
                        <i class="bi bi-instagram"></i></a>
                    <a class="social-icon" href="https://wa.me/51934835047" target="_blank">
                        <i class="bi bi-whatsapp"></i></a>
                </div>
                <!-- <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> -->
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="slider-oligume">
        <div class="container px-4">
            <div class="box-slider">
                <h1 class="display-4 fw-bolder title-slider">OLIGUME,</h1>
                <div class="box-subtitle">
                    <p class="lead fw-normal mb-0 subtitle-slider">
                        Productores de Aceitunas del Valle de Acarí, Arequipa.
                    </p>
                </div>
            </div>
        </div>
    </header>
    <!-- Section-->

    <div id="app">
        <div :class="[detalleProducto == false ? 'home1' : 'detalle-producto2' ]"></div>
        <div class="listado-productos py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="title-page">Productos Destacados</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" v-for="product in products" :key="product.id">
                        <div class="card h-100">
                            <img :src="product.images" :alt="product.name">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder"> {{ product.name }} </h5>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <span>S/. {{ product.price }}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" @click="showDetail(product)">Ver Detalle - {{ product.id }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h1 v-if="selectedProduct">Detalle de Producto</h1>
        <div v-if="selectedProduct">
            <h2>{{ selectedProduct.name }}</h2>
            <p>Precio: ${{ selectedProduct.price }}</p>
            <p>Descripción: {{ selectedProduct.description }}</p>
        </div>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Your Website 2024
            </p>
        </div>
    </footer>


    <!-- Vue JS-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                detalleProducto: false,
                selectedProduct: null,
                products : [
                    { id: 1, name: 'Aceite de Oliva 1 Lt', price: 48, images: './assets/aceite-litro.png',  description: 'Descripción del producto 1' },
                    { id: 2, name: 'Aceite de Oliva 1/2 Lt', price: 25, images: './assets/aceite-500ml.png',  description: 'Descripción del producto 2' },
                    { id: 3, name: 'Aceitunas Negras 1kg', price: 20, images: './assets/aceiguna-negra-kg.jpg',  description: 'Descripción del producto 3' },
                    { id: 4, name: 'Aceitunas Negras 1/2kg', price: 10, images: './assets/aceituna-negra-medio.jpg',  description: 'Descripción del producto 4' },
                ]
            },
            methods: {
                // Método para mostrar el detalle de un producto
                showDetail(product) {
                this.selectedProduct = product;
                }
            }
        });
        Vue.config.devtools = true;
    </script>
</body>

</html>