@media screen and (max-width: 2505px) {
.flexcarousel{ width:2500px; margin-left:-1245px}
.container_wrap .flexcarousel{ width:1080px; margin-left:-540px !important;}
.container_wrap .blockinside{ padding: 5% 7%;height: 86%;width: 78%;}
.container_wrap .blockinside p.teaser{ font-size:90%; line-height:1.7;}
.container_wrap .flexbg{ display:none;}
.flexcarousel:hover .flex-prev { left: 8%; }
.flexcarousel:hover .flex-next {right: 8%; }
.container_wrap .flexcarousel:hover .flex-prev { opacity: 1; left: 5%; }
.container_wrap .flexcarousel:hover .flex-next { opacity: 1; right: 5%; }
}

@media screen and (max-width: 1925px) {
.flexcarousel{ width:1915px; margin-left:-955px}
}

@media screen and (max-width: 1805px) {
.flexcarousel{ width:1800px; margin-left:-900px}
}

@media screen and (max-width: 1705px) {
.flexcarousel{ width:1700px; margin-left:-850px}
}

@media screen and (max-width: 1605px) {
.flexcarousel{ width:1600px; margin-left:-800px}
.blockinside{ padding: 5% 7%;height: 86%;width: 78%;}
.blockinside p.teaser{ font-size:90%; line-height:1.7;}
}

@media screen and (max-width: 1505px) {
.flexcarousel{ width:1500px; margin-left:-750px}
}

@media screen and (max-width: 1445px) {
.flexcarousel{ width:1440px; margin-left:-725px}
}

@media screen and (max-width: 1325px) {
.flexcarousel{ width:1320px; margin-left:-670px}
.blockinside p.meta_cat{ display:none;}
.flexcarousel:hover .flex-prev { left:4%; }
.flexcarousel:hover .flex-next {right:4%; }
}

@media screen and (max-width: 1285px) {
.flexcarousel{ width:1270px; margin-left:-635px}
.flexcarousel h2{ font-size:18px !important;}
}

@media screen and (min-width: 1027px) { 
#main-nav {width: 85%;}	
}

/* iPad lacscape */
@media screen and (max-width: 1026px) { 
.flexcarousel{ width:1030px; margin-left:-515px}
.blockinside p.meta{ display:none;}
.blockinside p.teaser{ font-size:80%; line-height:1.6;}

.container_wrap{ padding:0 0;}

.container,
.container_wrap .container{
width:96%;
margin: 0 0;
padding:0 2%;
}


#header h1{ max-width:30%;}

#header h1 img{ width:100%;}
.nav{margin: 0 0 0 5px;}
.nav>li>a{padding: 10px 8px;}
.nav li a.sf-with-ul {padding-right:13px;}
.nav .sf-sub-indicator{ right:3px;}
#header .searchform{ width:100px;}

.imgwrap img,
.tab img,
img.main-single,
.imgwrap img:hover,
img.headimg,
img.attachment-format-standard,
img.singleimg,
.wp-caption img,
.wp-caption,
.postslider img{ max-width:100% !important;}

.flickr_badge_image{ margin:0 15px 15xp 0;}

.singleslider{min-height:330px;}

}

/* Smaller screens */

@media screen and (max-width: 990px){

.flexcarousel{ width:100%; margin-left:0; left:auto;}
.container_wrap .flexcarousel{ margin-left:0 !important; width:100%;}
.flexcarousel h2{ font-size:15px !important;}
.blockinside p.teaser{ font-size:80%; }

}


/* iPad portrait */
@media screen and (max-width: 770px){

#main-nav{ margin:0 0 0 0; width:100%;}
#header .searchform{ margin-top:15px;}
#header ul.social-menu{ float:left; margin:15px 0 0 0}

#main-nav li a i{ display:none !important;}

#header{ padding:20px 0 10px 0;}

#content,
#sidebar{ padding-top:20px; padding-bottom:20px;}

#main-nav>li>a{ font-size:14px !important;}
#main-nav{ padding:0 10px}
#top-nav{ float:left; width:65%;}

.ratingblock{ width:45%;}
.ratingblock h2{ font-size:14px !important;}

.ad300 img,.ad300 ins{ max-width:100%;}

.flexinside{
	font-size:95% !important;
	line-height:1.7 !important;
	bottom:20px;
	left:20px;
	width:40%;
	padding:20px 4%;
}
.flexinside h2{ font-size: 20px !important;}
.flexinside .meta_more{ float:right; margin:0 0 0 0; display:none;}

ul#serinfo-nav li a{ font-size:11px !important;}

.flexbg,
.tab-post img,
ul#serinfo-nav li a i{ display:none;}


ul.featured li.fblock img{ margin:0 15px 0 0; width:65px;}

}


/* Mobile */
@media handheld, only screen and (max-width: 740px) {

body {
font-size: 14px;
-webkit-text-size-adjust: none;
}

.container{width: 94%;padding:0 3%;}

#content,
.aq-template-wrapper .aq_span8{width: 100%; padding-left:0; padding-right:0;}

#sidebar,
.aq-template-wrapper .aq_span4{ width:92%; padding:30px 4%; margin:0 0 20px 0;}

body {
width: 100%;
min-width: 0;
margin-left: 0px;
margin-right: 0px;
padding-left: 0;
padding-right: 0;
margin-top:0;
}


#footer .threecol,
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol,
#footer .fourcol
{
width: auto;
float: none !important;
margin-left: 0;
margin-right: 0;
height:auto;
}


#footer .threecol {display: none;}
#footer .threecol:last-child {display: block !important}



ul.medpost>li
{
width: auto;
max-width:360px;
float: none !important;
margin-left: auto;
margin-right: auto;
height:auto;
}

.folio, .blogger,.infoblock,ul.medpost,.services{ width:100%;}

ul.medpost > li {padding: 0 0 5px 0;}

.stuff h1,.stuff h2{ font-size:45px; border:none;}

.flex-control-nav{ bottom:25px;}

#copyright{ padding:0 8%; width:84%; margin:10px 0;}

.pagination{ margin-bottom:40px; height:35px;}

.resmode-No{ display:none; visibility:hidden;}

ul.medpost li.format-video iframe, ul.medpost li.format-audio iframe {
    height: 240px;
    min-height: 240px;
}

}


@media only screen and (max-width: 689px) {

#header{ text-align:center;}

img#logo,
#header .searchform{ float: none; display:block; margin:20px auto; max-width:300px; max-height:none;}
#header .searchform{ width:200px;}

.scrollTo_top{ visibility:hidden; display:none}


.contact-form .forms textarea,
.contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

.contact-form .forms label{ margin-bottom:10px}

.contact-form .forms .buttons .submit,
.contact-form .forms input#sendCopy{ margin-left:0;}



a#triggernav,
a#triggernav-sec{ display:block}

#navigation,
#top-navigation{ display:none;}
#navigation{margin-bottom:40px;}

#top-navigation{ width:100%;}

.nav>li {
	width:100%;
	float:none;
	text-align:center;
} 

.nav,
#top-nav,
#main-nav{ width:100%; margin:0 0 0 0 !important; padding:0 0 0 0 !important;}

.nav li ul ul{ margin:0 0 0 0;}

.nav li ul li a{ text-align: center;}

.nav > li > a {margin-right: 0px;}
.nav li ul {width: 100%;}

#header ul.social-menu{ display: inline-block; text-align:center; float:none; margin:0 auto;}

.related li a img{ width:100%;}

#header{ padding:0 0 20px 0;}

#header h1{ max-width:84%; width:84%; margin:20px 8%; text-align:center;}

#header h1 img{ width:100%;}

.twocol-one,.threecol-one,.threecol-two,.fourcol-one,.fourcol-two,.fourcol-three,.fivecol-one,.fivecol-two,.fivecol-three,.fivecol-four,.sixcol-one,.sixcol-two,.sixcol-three,.sixcol-four,.sixcol-five{ width:100% !important;}

.related{ width:100%;}

h2.post,
h1.itemtitle{padding: 30px 0;}

.flexwrap{ margin:0 0 30px 0;}

.flexinside h2{ font-size:16px !important;}

.flexinside p,
.flexinside .line{ display:none;}

.fourblog li{ width: 46.3%; height:430px;}


} 

@media only screen and (max-width: 565px) {
	
.journal_small{ width:93.5%;  height:auto;}
.journal_big .imgwrap{ max-width:100%; width:100%; margin:0 0 30px 0;}
.journal_big .imgwrap img{ width:100%;}

}

@media only screen and (max-width: 429px) {

.related li{ width:100%; margin-left:0;}

iframe{max-height:250px}

.comment-form-author, .comment-form-email, .comment-form-url{ width:100%;}

#respond textarea{ width:90%;}


h2.post,
h1.itemtitle{ font-size:20px !important;}


.blogger{ width:100% !important;}

.twoblog li,
.fourblog li{ width:100%; height:auto;}

.flexinside{
	bottom:5px;
	left:5px;
	width:50%;
	padding:5px 4%;
}
.flexinside h2{ font-size: 14px !important;}

.singlesliderwrap{margin:0 -12px 20px -10px;}

.singleslider{min-height:200px;}


}
