
/* @the 1040px grid
********************************************************************************************
********************************************************************************************/

.container{
width: 94%;
max-width: 1080px;
margin: 0 auto 0 auto;
padding:0 3%;
overflow:hidden;
position:relative;
}

.container_wrap{
width: 100%;
max-width: 1080px;
margin: 0 auto;
padding:0 30px;
overflow:hidden;
position:relative;
}

.container_v{ overflow:visible; background:none; display:block; float:none;}

.container_wrap .container{ width:100%; padding:0 0;}

.generalresp{
}

.generalresp-alt{
}

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-left:0;
float: left;
min-height: 1px;
overflow:hidden;
}

.twocol {
width: 10.75%;
margin-left:5%;
float:left;
}

.threecol {
width: 23.3%;
margin-left:2.2%;
float:left;
}

#footer .threecol {
width: 23%;
margin-left:2.6%;
}

.fourcol {
width: 31.68%;
margin:0 0 0 0;
padding:0;
float:left;
position:relative;
}

.fifthcol {
width: 16%;
padding:0;
margin:0 0 0 4%;
float:left;
margin-bottom:40px;
}

.eightcol {
width: 65.2%;
padding-right:0;
padding-left:0;
margin:0 3% 0 0;
float:left;
}

.sixcol {
width:50%;
margin-left:0;
}

.twelvecol {
width: 90%;
float: left;
}

object, embed {
max-width: 100%;
}



img {
	height: auto;
	max-width:100%;
}

/* no-responsive specials */

.generalresp #header h1{ max-width:300px;}
.generalresp #header h1 img{ width:100%;}

.generalresp .shadow-inset2,
.generalresp a.sliderlink{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}